<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StationMapper" >

	<resultMap type="Station" id="stationMap">
		<result column="seq" property="seq"/>
		<result column="region" property="region"/>
		<result column="location" property="location"/>
		<result column="lat" property="lat"/>
		<result column="lng" property="lng"/>
	</resultMap>
	
	<resultMap type="Pmdata" id="pmMap">
		<result column="location" property="stationName" />
		<result column="station"  property="station" />
		<result column="region"  property="region" />
		<result column="time" property="time"/>
		<result column="pm10" property="pm10"/>
		<result column="pm25" property="pm25"/>
		<result column="lat" property="lat"/>
		<result column="lng" property="lng"/>
		
	</resultMap>
	
	
	<select id="findAll" resultMap="stationMap">
		select * from stations;
	</select>
	
	<select id="findRealTimeData" parameterType="Pmdata" resultMap="pmMap">
	select * from pmdata where station = #{station} and `time` = #{time};
	</select>
	
	<select id="findStationByName" parameterType="hashmap" resultMap="stationMap">
		select * from stations where region = #{sido} and location = #{name};
	</select>
	
	<insert id="insertRealTimeData" parameterType="Pmdata">
		insert into pmdata ( station, `time`, pm10, pm25 ) 
		values ( #{station}, #{time}, #{pm10Value}, #{pm25Value});
	</insert>
	
	<select id="findDataByStation" parameterType="integer" resultMap="pmMap">
		select * from pmdata where station = #{id} order by time desc limit 24;
	</select>
	
	<select id="findStationBySeq" parameterType="integer" resultMap="stationMap">
		select * from stations where seq= #{id};
	</select> <!-- 값을 받아와 넘겨줘야 하는 인자가 하나일 때는 id로 써도 가능하다.  -->
	
	<select id="findStationByRegion" parameterType="string" resultMap="stationMap">
		select * from stations where region= #{id};
	</select>
	
	<select id="findRealtimeDataByRegion" parameterType="string" resultMap="pmMap">
	select 
		pm1.* ,
		s.location,
		s.lat,
		s.lng
	from ( select station, max(time) AS  latest from pmdata pm group by station ) pm0
	join pmdata pm1 on pm0.latest = pm1.time and pm0.station = pm1.station 
	join stations s on pm1.station = s.seq
	where s.region=#{id};
	
	</select>
	
	
	<select id="findMainRealtimeAvg" resultMap="pmMap">
	select 
		pm1.*,
		s.region, round(avg(pm10),0) avgPm10, round(avg(pm25),0) avgPm25, count(pm10) countPm10, count(pm25) countPm25
	from ( select station, max(time) AS  latest from pmdata pm group by station ) pm0
	join pmdata pm1 on pm0.latest = pm1.time and pm0.station = pm1.station 
	join stations s on pm1.station = s.seq group by region;
	
	</select>
	
	
</mapper>
