<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StationMapper" >

	<resultMap type="Station" id="stationMap">
		<result column="seq" property="seq"/>
		<result column="region" property="region"/>
		<result column="location" property="location"/>
	</resultMap>
	<select id="findAll" resultMap="stationMap">
		select * from stations;
	</select>
</mapper>
