<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserMapper"> 
	
	<!-- <resultMap type ="User" id="resultMap">
		<result column="seq" javaType="Long"/>
		<result column="email" javaType="String"/>
		<result column="pw" javaType="String"/>		
	</resultMap> -->
	<select id="getUser" parameterType="map" resultType="github.hangming.airdata.model.UserDto">
	select * from user where email = #{e} and password = #{p}
	</select>
	 

	<select id="getEmailCheck" parameterType="string" resultType="github.hangming.airdata.model.UserDto">
	select * from user where email = #{id}
	</select>
	
	<insert id="insertUser" parameterType="github.hangming.airdata.model.UserDto">
	insert into user (email, password) values ( #{email}, #{password})
	</insert>

	<update id="changePw" parameterType="github.hangming.airdata.model.UserDto">
	update user set password = #{password} where email = #{email}
	</update>
	
	<insert id="addFavoriteStation" parameterType="map" >
		insert into favor_station (
			user, station, pm10_limit, pm25_limit 
		) values ( 
			#{user}, #{station}, #{pm10_limit}, #{pm25_limit} 
		);
	<!-- Integer userSeq = m.get("user"); -->
	</insert>
	
	<select id="getFavoriteStations" parameterType="long" resultType="integer">
	select station from favor_station where user = #{user};
	</select>
	
	<!-- 
	<select id="getFavoriteStationDetail" parameterType="long" resultType="Station">
	select * from favor_station where user = #{user};
	</select>
	 -->
</mapper>
